In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import numpy as np

sys.path.append(os.path.abspath(os.path.join('..')))
from utils.data_plotting import *
from utils.data_preprocessing import *

### Load the CSV data into pandas dataframes

In [2]:
base_path = os.path.join('..', '..', 'data', 'dlis_preprocessed')
csv_data = load_csv_files(base_path)

non_spliced_nphi = create_df_subset(csv_data, ['NPHI'])

In [3]:
spliced_nphi = load_spliced_csv_files('../../data/dlis_spliced/NPHI')
spliced_drho = load_spliced_csv_files('../../data/dlis_spliced/DRHO')

non_spliced_nphi = create_df_subset(csv_data, ['NPHI'])

In [4]:
line_1 = spliced_nphi['1CSC 0001  SE.csv']
line_2 = non_spliced_nphi['1CSC 0001  SE']['logical_file_11']['frame_0.csv']
line_3 = non_spliced_nphi['1CSC 0001  SE']['logical_file_12']['frame_0.csv']

In [5]:
line_3

        TDEP       NPHI
0     1386.2        NaN
1     1386.4        NaN
2     1386.6  24.036865
3     1386.8  24.746094
4     1387.0  25.614258
...      ...        ...
7159  2818.0        NaN
7160  2818.2        NaN
7161  2818.4        NaN
7162  2818.6        NaN
7163  2818.8        NaN

[7164 rows x 2 columns]

In [6]:
from matplotlib.backends.backend_pdf import PdfPages
plot_nphi_logs_3_runs(line_1, line_2, line_3, "Emenda NPHI - CSC")

# Nome do arquivo PDF onde o gráfico será salvo
pdf_filename = "nphi_logs/1CSC 0001  SE.pdf"

# Criar o PDF e salvar o gráfico atual
with PdfPages(pdf_filename) as pdf:
    pdf.savefig()  # Salva o gráfico atual
    plt.close()    # Fecha o gráfico para evitar sobreposição

print(f"Gráfico salvo em {pdf_filename}")

Gráfico salvo em nphi_logs/1CSC 0001  SE.pdf