In [1]:
from utils.data_preprocessing import *
import pandas as pd
import numpy as np
from scipy.interpolate import interp1d
from utils.data_plotting import *
from utils.data_preprocessing import *

In [2]:
base_path = os.path.join('..', 'data', 'dlis_preprocessed_cast', '3-BRSA-778-SE', 'logical_file_0', 'frame_0.csv')

In [8]:
csv_data = pd.read_csv(base_path)
cast_data = pd.read_csv("texturas.csv")
cast_data = cast_data.drop(columns=['Unnamed: 0'])

In [17]:
cast_data.to_csv("texturas_extraidas_cast.csv", index=False)

In [10]:
csv_data = csv_data.iloc[::-1].reset_index(drop=True)
gr_data = csv_data[['TDEP', 'GR']]
gr_data = gr_data.dropna(subset=['GR'])
gr_data

       TDEP        GR
71     22.6   52.5728
72     22.7   47.8615
73     22.8   45.2978
74     22.9   44.4987
75     23.0   53.6382
...     ...       ...
6740  689.5  125.0809
6741  689.6  134.6699
6742  689.7  135.7736
6743  689.8  133.0201
6744  689.9  123.6773

[6674 rows x 2 columns]

In [ ]:
import numpy as np
import pandas as pd
from scipy.interpolate import interp1d

# 1. Crie o interpolador a partir dos seus dados originais de GR
interp_func = interp1d(
    gr_data['TDEP'],        # prof. originais do gr
    gr_data['GR'],          # valores de GR originais
    kind='linear',          # cria uma linha reta entre dois vals de GR.
)

# 2. Usando o intervalo de profundidade da imagem CAST
nova_tdep = cast_data['Profundidade'].values 

# 3. Gera valores de GR interpolados seguindo a reta entre dois pontos
nova_gr = interp_func(nova_tdep)

# 4. criando o df
gr_alinhado = pd.DataFrame({
    'TDEP': nova_tdep,
    'GR': nova_gr
})

print(gr_alinhado.head())

         TDEP         GR
0  427.123500  97.163792
1  427.128500  97.286152
2  427.133499  97.408488
3  427.138499  97.530848
4  427.143499  97.653208

In [ ]:
gr_data

In [12]:
gr_alinhado

             TDEP           GR
0      427.123500    97.163792
1      427.128500    97.286152
2      427.133499    97.408488
3      427.138499    97.530848
4      427.143499    97.653208
...           ...          ...
55965  706.943501 -1468.662911
55966  706.948501 -1469.130051
55967  706.953501 -1469.597191
55968  706.958501 -1470.064331
55969  706.963501 -1470.531471

[55970 rows x 2 columns]

In [ ]:
from matplotlib.backends.backend_pdf import PdfPages
# plot_gr_logs(gr_fino, "GR - High Resolution")
plot_gr_logs_2_wells(gr_data, gr_alinhado, "GR - Normal X High Resolution")
# Nome do arquivo PDF onde o gráfico será salvo
pdf_filename = "gr_normal_high_resolution_02.pdf"

# Criar o PDF e salvar o gráfico atual
with PdfPages(pdf_filename) as pdf:
    pdf.savefig()  # Salva o gráfico atual
    plt.close()    # Fecha o gráfico para evitar sobreposição

print(f"Gráfico salvo em {pdf_filename}")

In [14]:
gr_alinhado.to_csv("gr_high_resolution_02.csv", index=False)

In [15]:
gr_data.to_csv("gr_normal_resolution.csv", index=False)

In [ ]:
# 1. Renomeia a coluna TDEP em gr_alinhado para 'Profundidade'
gr_alinhado_ren = gr_alinhado.rename(columns={'TDEP': 'Profundidade'})

# 2. Faz o merge usando 'Profundidade' como chave
#    - how='left' garante que todas as linhas de cast_data apareçam, 
#      trazendo GR onde houver correspondência
merged = pd.merge(
    cast_data,
    gr_alinhado_ren, 
    on='Profundidade',
    how='left'
)

print(merged.head())

merged.to_csv('cast_data_com_gr.csv', index=False)

   Profundidade  contrast  dissimilarity  homogeneity  energy  correlation  \
0    427.123500       0.0            0.0          1.0     1.0          1.0
1    427.128500       0.0            0.0          1.0     1.0          1.0
2    427.133499       0.0            0.0          1.0     1.0          1.0
3    427.138499       0.0            0.0          1.0     1.0          1.0
4    427.143499       0.0            0.0          1.0     1.0          1.0

   entropy         GR
0      0.0  97.163792
1      0.0  97.286152
2      0.0  97.408488
3      0.0  97.530848
4      0.0  97.653208